.header {
  display: flex;
  justify-content: space-between;
  align-self: baseline;
  cursor: pointer;
}

.cardWrapper {
  margin-top: 18px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.toggelText {
  cursor: pointer;
  color: var(--color-primary);
}

.filterWrapper {
  margin-top: 15px;
}

.sectionWrapper {
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1.5px solid var(--color-primary);
  border-bottom: 1.5px solid var(--color-primary);
}
