.button{
    background-color: var(--color-black);
    font-family:  "poppins" , sans-serif;
    height: 47px;
    width: 170px;
    color: var(--color-primary);
    border-radius: 12px;
    border: 1px solid var(--color-black);
    padding :  10px , 16px;
    cursor: pointer;
    }